/* Search Bar Styles */

.input_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: .5em;
}

.search_bar {
  width: 80%;
  max-width: 600px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid var(--highlight-blue);
  padding: 0.5em;
  font-size: 1rem;
}
