/* Search Bar Styles */

.input_container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 0.5em;
}

.search_bar {
  width: 100%;
  height: 30px;
  border-radius: 8px;
  border: 1px solid var(--highlight-blue);
  padding: 0.5em 2em 0.5em 0.5em;
  /* padding right for icon space */
  font-size: 1rem;
  box-sizing: border-box;
}

.remove_icon {
  position: absolute;
  right: 0.75em;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-weight: bold;
  color: #888;
  user-select: none;
  font-size: 1.5rem;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    border: none;
    outline: none;
  }
}