/* Footer CSS*/

footer {
    border-top: 1px solid var(--accent-blue);
    display: flex;
    justify-content: space-between;
}

.copyright .icon {
    display: inline;
    margin-right: 10px;
}

.copyright p {
    font-size: 0.7em;
}

.teamMembers {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.developers {
    display: flex;
    align-items: baseline;
}

.scrum_masters {
    display: flex;
    align-items: baseline;
}

.developers>div, .scrum-masters>div {
    margin: 10px 20px;
}

.developers>h4, .scrum-masters>h4 {
    margin-right: 30px;
}

.social-links {
    display: flex;
}

.social-links>a{
    margin-right: 5px;
}

