.sort_button {
    display: flex;
}

.toggleButton {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: black;
}

.sortOptions {
    background-color: aliceblue;
    padding: 0.2rem;
}

.toggleButton:hover {
    font-style: italic;
    background-color: transparent;
}

.toggleBorder {
    border: .5px solid black;
}

.active {
  background-color:aqua;
  border: 1px solid var(--highlight-blue);
  color: var(--black);
  border-color: #888;
}