.container {
    position: relative;
}
.sort_button {
    display: flex;
    padding: 8px 30px;
    z-index: 1;
}

.toggleButton {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: black;
}

.sortOptions {
    background-color: var(--white);
    padding: 0.5rem;
    position: absolute;
    top: 80%;
    left: 10%;
    box-shadow: 2px 2px 5px var(--black);
    border-radius: 5px;
}

.toggleButton:hover {
    font-style: italic;
    background-color: transparent;
}

.toggleBorder {
    border: .5px solid var(--black);
}

.active {
  background-color:aqua;
  border: 1px solid var(--highlight-blue);
  color: var(--black);
  border-color: #888;
}